/*
#################################
FILTERS FILE
#################################
*/
ul {
	list-style: none;
	margin: 0;
}

.filters {	
	height: 70px;
	width: 100%;
	color: white;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	opacity: .9;
	border: none;
}

.locations,
.amenities {
	height: 100%;
	width: 25%;
	color: #484848;
	display: inline-block;
	padding-left:40px;
	position:relative;
	cursor: pointer;
}

.locations {
	border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3 {
	font-weight: 600;
	margin-bottom: 0;
}

.locations h4,
.amenities h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0px;
}

.popover {
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: absolute;
	width: 100%;
	background-color: #FAFAFA;
	top:100%;
	left: 0;
	margin:0;
	padding: 30px 0;
}
.popover>li {
	padding-left:40px;
	padding-bottom: 10px;
}
.popover li > ul {
	padding-left: 20px;
	font-weight: 400;
}

.popover h2 {
	font-size: 16px;
	margin-bottom: 10px;
}

.popover li:first-child h2 {
	margin-top: 0px;
}

.locations .popover,
.amenities .popover {
	display:none;
	opacity: 0;
	z-index: 10;
}

.locations:hover .popover,
.amenities:hover .popover {
	display: block;
	opacity: 1;
	transition: all 0.33s ease .2s;
}



@media only screen and (max-width: 776px){
	.filters {
		display:flex;
		flex-direction: column;
		height: auto;
		width: 90%;

	}
	.filters button {
		position: relative;
		top:0;
		right:0;
		transform: translate(0%, 0%);
		margin-top: 20px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

	.filters .locations,
	.filters .amenities,
	.filters button{
		width: 100%;
	}
}
