/*
#################################
COMMON FILE
#################################
*/

.filters {	
	height: 70px;
	width: 100%;
	color: white;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
}

button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	opacity: .9;
	border: none;
}

.locations,
.amenities {
	height: 100%;
	width: 25%;
	color: #000000;
	display: inline-block;
	padding-left:40px;
}

.locations {
	border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3 {
	font-weight: 600;
	margin-bottom: 0;
}

.locations h4,
.amenities h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0px;
}
